@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center home-page">
    <h1 class="display-4">Welcome to JokesWeb</h1>
    <p>All sorts of jokes ranging from cringe to absolute bangers</p>
</div>
